<h1> <%= @photo.caption %></h1>
<img src="<%= @photo.image %>" width="500px">
<form action="/update_closet/ <%= @photo.id %>">
  <label for="image"> Image url</label>
  <input type="text" id= "image" name="image" value="<%= @photo.image %>">
  <br>
  <label for="caption"> Caption </label>
  <input type="text" id="caption" name="caption" value="<%= @photo.caption %>">
  <br>
  <label for="type">Type</label>
  <br>
  <input type="radio" name="category" value="top" checked> Top <br>
  <input type="radio" name="category" value="bottom" checked> Bottom <br>
  <input type="radio" name="category" value="footwear" checked> Footwear <br>
  <input type="submit" >
</form>
